body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-size: 3em;
}

header h3 {
    font-size: 1.5em;
}

.profile-img {
    width: 400px;
    border-radius: 50%;
}

#stats, #projects, #contact, #links, #skills {
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 1000px;
}

#projects a, #contact a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

#projects a:hover, #contact a:hover {
    text-decoration: underline;
}

#links a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

#links a:hover {
    color: #007bff;
}

.skills img {
    width: 40px;
    margin-right: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
